/* Contains both the typing and file upload sections - padding to center items vertically */
  .outer-wrapper {
    height: 200px;
    position: relative;
    justify-content: center;
    width: 100%;
    padding-top: 250px;

  }


  #pdfView {
    height: 700px;
    position: relative;
    /* display: flex; */
    justify-content: center;
    width: 100%;
    padding-top: 0px;
    zoom: 100%;
    padding-left: 400px;
  }

  #typingAnimation {
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 0px;
  }


  
#fileUpload {
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 0px;
}

  .fileUpload {
    display: flex;
  }
  
  /* Dark Gray Hex: #303030 */
  body {
    color: #ffffff;
    background-color: #252525;
  }